body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.container {
    display: inline-block;
    width: 1000px;
    margin-top: 40px;
    margin-left: calc(50% - 500px);
}

header {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.header-links {
   font-size: 16px;
   font-weight: bold;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: none;
   padding: 25px;
   border: 4px;
}

.header-logo {
    margin-top: -8px;
    height: 39px;
}

.cart {
    padding: 10px;
}

.search {
    padding: 10px;
}

.left-column {
    float: left;
    width: 300px;
    margin-left: 2%;
    margin-top: 40px;
    display: inline-block;
}

.left-bracket {
    background-color: #FD5F5E;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    line-height: 56px;
    border: none;
    border-radius: 800px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: -220px;
    margin-left: -28px;
}

.left-bracket:hover {
    background-color: #fd5e6183;
    cursor: pointer;
}

.right-bracket {
    background-color: #FD5F5E;
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
    line-height: 56px;
    border: none;
    border-radius: 800px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: -239px;
    margin-left: 370px;
}

.right-bracket:hover {
    background-color: #fd5e6183;
    cursor: pointer;
}

.titles-description {
    display: inline-block;
    float: right;
    width: 500px;
    margin-top: 90px;
}

h2 + h1 {
    margin-top: 10px;
}

p + ul {
    margin-top: 40px;
    margin-bottom: 30px;
}

h2 {
    color: #DD6F72;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    letter-spacing: 2px;
}

.aprasymas {
    color: #AEAEAE;
    margin-top: 30px;
}

ul {
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 3em;
    color: black;
    list-style-image: url(../img/list-plus.png);
    list-style-position: inside;
    width: 300px;
    margin-top: 20px;
    display: flexbox;
    justify-content: space-between;
    margin-left: 180px;
}

li {
    font-weight: normal;
    margin: 5px;
}

.uogu-contents {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: -198px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 200px;
}

.uogos {
    margin-top: -147px;
    display: flex;
    justify-content: space-between;
    float: right;
    margin-right: 10px;
}

.add-to-cart {
    float: right;
    margin-top: 50px;
    margin-right: 240px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: white;
    background-color: #FE5E60;
    border: none;
    border-radius: 90px;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.add-to-cart:hover {
    background-color: #fd5e6183;
    cursor: pointer;
}