body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: greenyellow;
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-left: calc(50% - 400px);
}

header {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.header-links {
   font-size: 15px;
   font-weight: bold;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: none;
   padding: 25px;
   border: 4px;
}
.header-logo {
    margin-top: -8px;
    height: 39px;
}

.cart-search {
    padding: 15px;
    margin-top: -20px;
}

.left-column {
    float: left;
    width: 50px;
    margin-left: 2%;
    margin-top: 40px;
}

.both-right-columns {
    float: right;
    width: 300px;
    margin-top: 90px;
}

h2 + h1 {
    margin-top: 20px;
}

p + ul {
    
}